@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap");
:root {
  --poppins: "Poppins", sans-serif;
  --lato: "Lato", sans-serif;
}

#sidebar {
  scrollbar-width: none;
  transition: 0.2s ease;
  background: var(--light);
}

.hide {    
    display: none;
}



.sidebar-active-link {
  position: relative;
  color: rgba(13, 77, 18, 0.981); /* text-blue-500*/
  transition: 0.2s ease ;
} 

#notification {
  background-color: rgba(232, 148, 117, 0.913);
 
}

#notification:hover{
  transition: 0.2s ease;
  background-color: rgba(236, 112, 68, 0.913);

}

