

/* i {
  height: 20px;
  width: 20px;
} */
/* ul {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  height: 50%;
}
*/


/* i {
  padding-right: 5px;
  
} */
/* ul {
  flex-direction: column;
  flex-wrap: wrap;
  position: fixed;
  overflow: hidden;
}

i {
  padding : 10px
}


span {
  margin-left: 5px;
  right: auto;
} */

