<div class="w-64 h-full fixed bg-black delay-50">
    <header>
        <img src="../assets/ollangCropped.jpeg" class="ml-10 w-full h-full" alt="ollang-logo">
    </header>
    <ul>
        <li>
            <a href="#" class="block text-xl text-slate-400 font-sans hover:text-gray-600 m-8 "><i
                    class="fa-solid fa-briefcase"></i>
                My Job Feed</a>
        </li>
        <li>
            <a href="#" class=" block text-xl text-slate-400 font-sans hover:text-gray-600  m-8 "><i
                    class="fa-solid fa-magnifying-glass"></i>Discover Jobs</a>
        </li>
        <li>
            <a href="#" class="block text-xl text-slate-400 font-sans hover:text-gray-600 m-8"><i
                    class="fa-solid fa-bookmark"></i>
                Saved Jobs</a>
        </li>
        <li>
            <a href="#" class="block text-xl text-slate-400 font-sans hover:text-gray-600  m-8"><i
                    class="fa-solid fa-envelope"></i>
                Proposal</a>
        </li>
        <li>
            <a href="#" class="block text-xl text-slate-400  font-sans hover:text-gray-600  m-8"><i
                    class="fa-regular fa-file"></i>
                All Contracts</a>
        </li>
        <li>
            <a href="#" class="block text-xl text-slate-400  font-sans hover:text-gray-600  m-8"><i
                    class="fa-solid fa-user"></i>
                Profile</a>
        </li>
        <li>
            <a href="#" class="block text-xl text-slate-400  font-sans hover:text-gray-600  m-8"><i
                    class="fa-solid fa-sack-dollar"></i>
                Transaction</a>
        </li>
        <li>
            <a href="#" class="block text-xl text-slate-400  font-sans hover:text-gray-600  m-8"><i
                    class="fa-regular fa-file-lines"></i>
                Reports</a>
        </li>
    </ul>
</div>