.sidebar-active-link {
  color: rgb(60, 209, 72); /* text-blue-500*/
  transition: 0.2s ease;
}

#notification {
  background-color: rgba(232, 148, 117, 0.913);
}

#notification:hover {
  transition: 0.2s ease;
  background-color: rgb(236, 113, 68);
}
