<div class="h-14  ml-60 bg-gray-100  flex items-center gap-10 font-tilt  ">
    <div class="flex items-center ml-8">
        <a class="cursor-pointer mt-2 text-blue-400 hover:text-blue-500 active-link " (click)="loadComponent($event)" id = "experience">
            Experience
        </a>
    </div>
    <div class="flex items-center h-9 cursor-pointer ">
        <a class="cursor-pointer mt-2 text-blue-400 hover:text-blue-500" (click)="loadComponent($event)" id = "biography">
            Biography
        </a>

    </div>
    <div class="flex items-center h-9 cursor-pointer">
        <a class="cursor-pointer mt-2 text-blue-400 hover:text-blue-500" (click)="loadComponent($event)" id = "skills">
            Skills
        </a>
    </div>
    <div class="flex items-center h-9 cursor-pointer">
        <a class="cursor-pointer mt-2 text-blue-400 hover:text-blue-500 " (click)="loadComponent($event)" id = "portfolio">
            Portfolio
        </a>
    </div>
</div>
<hr class="w-1/2 ml-60 ">
<ng-template appDynamicComponentLoadDirective></ng-template>
<!-- <app-experience></app-experience> -->
