<router-outlet>

</router-outlet>
<div class="w-100 py-9 px-6 overflow-y-auto" id="main"> <!--main-->
    <div class="flex items-center space-between grid-gap 16px wrap"> <!--head-title-->
        <div
            class="border-r border-b border-l border-gray-400 sm:border-l-0 sm:border-t sm:border-gray-400 bg-white rounded-b sm:rounded-b-none sm:rounded-r p-4 flex flex-col justify-between leading-normal">
            <div class="mb-8">
            </div>
            <div class="flex items-center">
                <img class="w-48 h-48 rounded-full mr-4" src="{{profileData?.avatar}}" alt="Avatar of Writer">
                <div class="ml-12 mb-20">
                    <p class="text-gray-800 leading-none font-tilt text-2xl md:text-lg">{{profileData?.name}}</p>
                    <p class="text-s font-serif leading-none mt-4 text-gray-600 flex items-center">
                        <svg class="mr-2" xmlns="http://www.w3.org/2000/svg" width="16" height="18" viewBox="0 0 24 24"
                            fill="none" stroke="#626262" stroke-width="1.5" stroke-linecap="square"
                            stroke-linejoin="round">
                            <circle cx="12" cy="10" r="3" />
                            <path d="M12 21.7C17.3 17 20 13 20 10a8 8 0 1 0-16 0c0 3 2.7 6.9 8 11.7z" />
                        </svg>
                        {{profileData?.state}}
                    </p>
                    <div class="w-60 md:w-20 block">
                        <p class="text-gray-600 flex leading-none font-tilt text-lg mt-4 md:text-sm">
                            {{profileData?.summary}}</p>
                    </div>
                </div>
                <div class="flex items-center ml-8 mb-64 md:ml-0 ">
                    <!--Refactor-->
                    <button type="button"
                        class="text-white bg-gradient-to-r from-blue-300 via-blue-400 to-blue-500 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 font-medium rounded-full text-sm px-6 py-2 text-center flex ml-40 top-0 md:ml-0 md:px-2 md:py-1"><small
                            class="font-tilt text-sm text-gray-100 ">Edit
                            Profile</small></button>
                    <button type="button"
                        class="text-white bg-gradient-to-r from-orange-300 via-orange-400 to-orange-500 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 font-medium rounded-full text-sm px-6 py-2 text-center flex ml-2 top-0 md:ml-0 md:px-2 md:py-1"><small
                            class="font-tilt text-sm text-gray-100 ">Public View</small></button>
                    <!--Refactor-->
                </div>
            </div>
        </div>
    </div>
    <div class="items-center flex left-0">
        <div class="bg-gray-200 h-40 w-56">
            <svg class="ml-4" xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 24 24" fill="none"
                stroke="#626262" stroke-width="1" stroke-linecap="round" stroke-linejoin="bevel">
                <circle cx="12" cy="12" r="10"></circle>
                <polyline points="12 6 12 12 16 14"></polyline>
            </svg>
            <p class="text-gray-600 flex leading-none font-tilt text-lg mt-4 md:text-sm">
                {{profileData?.yearsOfExperience}}</p>
        </div>
        <div class="bg-gray-200 h-40 w-44 ">e</div>
    </div>
</div>