<div class="relative w-[calc(100%-220px)] left-60 md:w-[calc(100%-40px)]  md:left-56 bg-gray-100"> <!--content // transitition -->
  <!-- NAVBAR  -->
  <div class = "h-14  py-0 px-6 flex items-center gap-6 sticky top-0 left-0 z-100 before:content-[''] before:w-10 before:h-10 before:-bottom-2.5 before:absolute before:rounded-3xl"> <!--navbar-->
      <i class='bx bx-menu cursor-pointer text-lg ' id = "menuBar" (click) = "menubarClicked()" ></i>
      <form action="#" class = "max-w-sm w-full mr-auto">
          <div class="flex items-center h-9">
              <input type="search" placeholder="Search anything..." class = "grow px-4 h-full border-solid bg-white rounded-3xl outline-none w-full ">
              <button type="submit" class="w-9 h-full flex items-center justify-center bg-transparent text-lg border-none outline-none cursor-pointer rounded-lg"><i class='bx bx-search' ></i></button>
          </div>
      </form>
      <!-- <input type="checkbox" id="switch-mode" hidden> -->
      <!-- <label for="switch-mode" class="switch-mode"></label> -->
      <a href="#" class="text-l relative mr-12 sm:hidden">
          <i class='bx bxs-bell' ></i>
          <span class="absolute -right-0 -top-0 w-2 h-2 rounded-xl text-white bg-blue-500 font-bold text-xs flex justify-center items-center "></span>
      </a>
      <div class="profile justify-center items-center flex">
          <img src="{{userInfo.avatarUrl}}" class = "w-10 h-10 rounded-2xl">
          <small class = "ml-6 text-m text-gray-900 sm:hidden">{{userInfo.name}}</small>
      </div>
  </div>
</div>