<div class="overflow-x-hidden w-full h-max bg-gray-100">
  <app-navbar (hideSidebarEventEmitter)="isSidebarOpen = !isSidebarOpen" [navbarData]="navbarData"></app-navbar>
  <div id="sidebar" class="fixed top-0 left-0 w-60 bg-white h-full z-200 overflow-x-hidden md:w-48 border">
    <app-sidebar [isSidebarOpen]="isSidebarOpen"></app-sidebar>
  </div>
  <app-user-info [userInfo]="userInfoData" class=""></app-user-info>
  <div class=" float-right fs:hidden " id="rightSide">
    <app-upgrade-plan></app-upgrade-plan>
  </div>
  <app-content></app-content>
</div>

<!---->